 {% extends "instagram/layout.html" %}
 {% load bootstrap4 %}

 {% block title %}
 Instagram / Post Form
 {% endblock title %}

 {% block content %}

 <form action="" method="POST" enctype="multipart/form-data">
     {% csrf_token %}
     {% bootstrap_form form %}
     {% comment %} <table>
         {{ form }}
     </table> {% endcomment %}
     {% buttons %}
     {% if post %}
     <a href="{{ post.get_absolute_url }}" class="btn btn-danger">취소</a>
     {% endif %}
     <button class="btn btn-primary">저장</button>
     {% endbuttons %}
     {% comment %} <input type="submit" value="저장" class="btn btn-sm btn-primary" /> {% endcomment %}
 </form>


 {% endblock content %}