{% extends "instagram/layout.html" %}

{% block title %}
Instagram / {{ post.author }}
{% endblock title %}

{% block content %}

<h2>Author: {{ post.author }}</h2>

{% if post.photo %}
<div>
    <img src="{{ post.photo.url }}">
</div>
{% endif %}

{{ post.message|linebreaks }}<br />

<div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" disabled {% if post.is_public %}
        checked{% endif %}>
    <label class="form-check-label" for="defaultCheck1">
        공개여부
    </label>
</div>
<hr />
<a href="{% url 'instagram:post_list'%}" class="btn btn-primary">
    목록
</a>

<a href="{% url 'instagram:post_edit' post.pk %}" class="btn btn-info">
    수정
</a>

<a href="{% url 'instagram:post_delete' post.pk %}" class="btn btn-danger">
    삭제
</a>

{% endblock content %}